{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "PixabayApiKey": "YOUR_PIXABAY_API_KEY_HERE",
    "PixabayApiUrl": "https://pixabay.com/api/",
    "BuienradarApiUrl": "https://data.buienradar.nl/2.0/feed/json"
  }
}
